{% load staticfiles %}

<html>
<head>
    <title>Nitro Wheels</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body background="{% static 'images/login.jpg' %}">
    <p align="right" style="color:white;" >Back to <a style="color:white;" href="/nitro_wheels/home">Home</a></p>
    <!-- Code Here -->
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static '/js/login.js' %}" ></script>
</body>
</html>



